//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn-primary {
  color: black;
  text-transform: capitalize;

  background-color: red;
  border: 1px solid red;
}
